---
import '@/styles/globals.css'

import Layout from '../layouts/Layout.astro';
import PasswordGenerator from '../components/PasswordGenerator';
---

<Layout title="Password Generator">
	<div class="container mx-auto max-w-md p-4 flex flex-col items-center justify-center min-h-full ">
		<PasswordGenerator client:load />
	</div>
</Layout>
